body {
  font-family: "Merienda", "Open Sans", "Arial", "Arial Narrow", Arial,
    sans-serif !important;
}
.active {
  border-bottom: none;
}
input {
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px white;
  border: solid 3px transparent;
  border-radius: 30px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #000;
  border: solid 3px transparent;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(95, 95, 95);
  border: solid 3px transparent;
  border-radius: 15px;
}